{%  extends 'base.html' %}

{% load static %}
{% block menu %}
    {% for menu_item in menu %}
        {% if menu_item.active %}
            <li class="nav__items "><a href="{{ menu_item.link }}">{{ menu_item.title}}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}

    <div class="content container">

<form action="{% url "contact_with_us" %}" method="post">
  <fieldset>
    <legend>Контактная информация</legend>
      {% csrf_token %}
      <p>
          <label for="{{ form.name.id_for_label }}">Имя</label>
          {{ form.name }}
      </p>
      <p>
          <label for="{{ form.phone_numbers.id_for_label }}">Телефон</label>
          {{ form.phone_numbers }}
      </p>
      <p>
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
      </p>
      <p style="display: none">
          <label for="{{ form.create_time.id_for_label }}">date</label>
          {{ form.create_time }}
      </p>
      <p><input type="submit" value="Отправить информацию"></p>
  </fieldset>
</form>
<table style="text-align:center; width:100%">
    <tr>
        <th>
            Фио
        </th>
        <th>
            Телефон
        </th>
        <th>
            Почта
        </th>
        <th>
            Время
        </th>
    </tr>
    {% for data in data_from_form %}
        <tr>
            <td>
                {{ data.name }}
            </td>
            <td>
                {{ data.phone_numbers }}
            </td>
            <td>
                {{ data.email }}
            </td>
            <td>
                {{ data.create_time }}
            </td>
        </tr>
    {% endfor %}
</table>
    </div>
    <script>

    document.getElementById('time').value = new Date();
    </script>
{% endblock %}