{%  extends 'base.html' %}

{% load static %}
{% block menu %}
                        <li class="nav__items active_header"><a href="{% url 'index' %}">О нас</a></li>
                    <li class="nav__items "><a href="{% url 'events:events' %}">Мероприятия</a></li>
                    <li class="nav__items"><a href="https://www.youtube.com/" target="_blank">Мы в youtube</a></li>
                    <li class="nav__items"><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li class="nav__items "><a href="{% url 'contact_with_us' %}">Связаться с нами</a></li>
{% endblock %}
{% block content %}



<main>
    <div class="container content">
        <h2>О нас</h2>
        <p>
            Рады представить вам новую платформу для абитуриентов.
        </p>
         <p>
             Данная платформа развивается при помощи Студентов ВШЭ.
             Создана платформа в целях облегчить абитуриентам поступление в ВУЗЫ РФ
         </p>
        <p><b>Плюсы для абитуриентов:</b>
        </p>
            <ul>
                <li>
                    Единая платформа онлайн олимпиад и не только
                </li>
                <li>
                    Удобная информация об экзаменах/олимпиадах в ВУЗЫ рф
                </li>
            </ul>


        <p>
            <b>Плюс для Вузов и почему им стоит проводить олимпиады на нашей платформе</b>
        </p>
        <ol>
            <li>Первая единая платформа между вузами </li>
            <li>Удобно, если у Вуза нет собственной платформы</li>
            <li>Онлайн прокторинг олимпиад/экзаменов при помощи нейросетей</li>
            <li>Большая база абитуриентов по всему РФ и не только</li>
        </ol>


    </div>
</main>
{% endblock %}