{%  extends 'base.html' %}

{% load static %}
{% block menu %}
    {% for menu_item in menu %}
        {% if menu_item.active %}
            <li class="nav__items "><a href="{{ menu_item.link }}">{{ menu_item.title}}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}

<main>
    <div class="container content">
        <div class="events_list">
            <div class="table_item">
                <div class="table_image">
                    <img src="{% static "images/logo-vshe.png" %}" alt="">
                </div>
                <div class="table_content">
                    <h3>Олимпиада Высшая проба</h3>
                    <p>Регистрируйся и начинай решать!ы</p>
                    <a href="{% url 'olympic_hse' %}"><p class="btm">Перейти</p></a>
                </div>
            </div>
            <div class="table_item">
                <div class="table_image">
                    <img src="{% static "images/logo_mipt.png" %}" alt="">
                </div>
                <div class="table_content">
                    <h3>Олимпиада МФТИ</h3>
                    <p>Регистрируйся и начинай решать!ы</p>
                    <a href=""><p class="btm">Перейти</p></a>
                </div>
            </div>
            <div class="table_item">
                <div class="table_image">
                    <img src="{% static "images/msu_logo.jpg" %}" alt="">
                </div>
                <div class="table_content">
                    <h3>Олимпиада МГУ</h3>
                    <p>Регистрируйся и начинай решать!ы</p>
                    <a href=""><p class="btm">Перейти</p></a>
                </div>
            </div>

        </div>

    </div>
</main>
{% endblock %}